@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F8;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* 텍스트 렌더링을 날카롭게 */
  -webkit-font-smoothing: antialiased;
}